@charset "utf-8";

// ============================================================
//  project/_common-latest-news.scss
// ============================================================

.p-common-latest-news{
	padding: 80px 0 120px;
	background-color: #f3f3f3;
	@include tablet{
		padding: 5.556vw 0 8.333vw;
	}//tablet
	@include sp{
		padding: 10.667vw 5.333vw;
	}//sp
	
	&__inner{
		width: 1000px;
		margin: 0 auto;
		@include tablet{
			width: 69.444vw;
		}//tablet
		@include sp{
			width: 100%;
		}//sp
		
		.heading{
			margin-bottom: 60px;
			@include tablet{
				margin-bottom: 4.167vw;
			}//tablet
			@include sp{
				text-align: center;
				margin-bottom: 10.667vw;
			}//sp
			
			.ja{
				font-size: 16px;
				margin-bottom: 10px;
				@include tablet{
					font-size: 1.111vw;
					margin-bottom: 0.694vw;
				}//tablet
				@include sp{
					font-size: 3.2vw;
					margin-bottom: 2.667vw;
				}//sp
			}//.ja
			
			h3{
				font-size: 32px;
				font-family: $fontYantramanav;
				font-weight: 400;
				letter-spacing: .3em;
				line-height: 1;
				@include tablet{
					font-size: 2.222vw;
				}//tablet
				@include sp{
					font-size: 7.467vw;
				}//sp
			}//h3
		}//.heading
		
		ul{
			li{
				padding: 40px 0;
				border-bottom: 1px solid #000;
				@include tablet{
					padding: 2.778vw 0;
					border-width: 0.069vw;
				}//tablet
				@include sp{
					padding: 5.333vw 0;
					border-width: 0.267vw;
				}//sp
				
				&:first-child{
					border-top: 1px solid #000;
					@include tablet{
						border-width: 0.069vw;
					}//tablet
					@include sp{
						border-width: 0.267vw;
					}//sp
				}//:first-child
				
				.date{
					color: #666;
					font-size: 13px;
					font-family: $fontYantramanav;
					letter-spacing: .1em;
					margin-bottom: 10px;
					display: block;
					@include tablet{
						font-size: 0.903vw;
						margin-bottom: 0.694vw;
					}//tablet
					@include sp{
						font-size: 3.2vw;
						margin-bottom: 1.333vw;
					}//sp
				}//.date
				
				a{
					font-size: 16px;
					font-family: $fontGothic;
					letter-spacing: .05em;
					line-height: 1.4;
					@include tablet{
						font-size: 1.111vw;
					}//tablet
					@include sp{
						font-size: 4.267vw;
						line-height: 1.6;
					}//sp
				}//a
			}//li
		}//ul
	}//__inner
}//.p-common-latest-news