@charset "utf-8";

// ============================================================
//  project/_contents-area.scss
// ============================================================

.p-contents-area{
	color: #333;
	font-family: $fontGothic;
	width: 1320px;
	margin: 0 auto;
	position: relative;
	@include tablet{
		width: 91.667vw;
	}//tablet
	@include sp{
		width: 100%;
	}//sp
	
	&__eyecatch{
		img{
			width: 100%;
			height: auto;
			@include sp{
				width: 100%;
				height: 112vw;
				object-fit: cover;
				object-position: 50% 100%;
			}//sp
		}//img
	}//__eyecatch
	
	&__inner{
		width: 1200px;
		padding: 140px 100px;
		margin: 0 auto;
		background-color: #fff;
		box-sizing: border-box;
		transform: translateY(-120px);
		position: relative;
		@include tablet{
			width: 83.333vw;
			padding: 9.722vw 6.944vw;
			transform: translateY(-8.333vw);
		}//tablet
		@include sp{
			width: calc(100% - 10.667vw);
			padding: 16vw 8vw;
			transform: translateY(-16vw);
		}//sp
		
		h2{
			position: absolute;
			top: -190px;
			left: -40px;
			@include tablet{
				top: -13.194vw;
				left: -2.778vw;
			}//tablet
			@include sp{
				top: -30.667vw;
				left: 0;
			}//sp
			
			img{
				width: auto;
				height: 262.5px;
				@include tablet{
					height: 18.229vw;
				}//tablet
				@include sp{
					width: 84vw;
					height: auto;
				}//sp
			}//img
			
			&.is_z{//Z世代
				top: -270px;
				left: 50%;
				transform: translateX(-50%);
				@include tablet{
					top: -18.75vw;
				}//tablet
				@include sp{
				    top: -48vw;
				}//sp
				
				img{
					width: 510px;
					height: auto;
					@include tablet{
						width: 35.417vw;
					}//tablet
					@include sp{
						width: 85.333vw;
					}//sp
				}//img
			}//.is_z
		}//h2
		
		.desc{
			font-size: 16px;
			font-weight: 500;
			line-height: 2;
			margin-bottom: 140px;
			@include tablet{
				font-size: 1.111vw;
				margin-bottom: 9.722vw;
			}//tablet
			@include sp{
				font-size: 3.467vw;
				margin-bottom: 16vw;
			}//sp
		}//.desc
		
		.point-container{
			width: 880px;
			margin: 0 auto 150px;
			@include tablet{
				width: 61.111vw;
				margin: 0 auto 10.417vw;
			}//tablet
			@include sp{
				width: 100%;
				margin: 0 auto 26.667vw;
			}//sp
			
			.heading{
				margin-bottom: 60px;
				display: flex;
				justify-content: center;
				align-items: flex-end;
				@include tablet{
					margin-bottom: 4.167vw;
				}//tablet
				@include sp{
					margin-bottom: 8vw;
				}//sp
				
				.icon{
					padding: 0 0 20px;
					margin: 0 10px 0 0;
					position: relative;
					@include tablet{
						margin: 0 .694vw 0 0;
						padding: 0 0 1.389vw;
					}//tablet
					@include sp{
						padding: 0;
					}//sp
					
					img{
						width: auto;
						height: 130px;
						@include tablet{
							height: 9.028vw;
						}//tablet
						@include sp{
							width: 18.667vw;
							height: auto;
						}//sp
					}//img
					
					.num{
						color: #fff;
						font-size: 32px;
						font-family: $fontYantramanav;
						line-height: 1;
						text-align: center;
						width: 95%;
						position: absolute;
						top: 58px;
						left: 0;
						@include tablet{
							font-size: 2.222vw;
							top: 4.028vw;
						}//tablet
						@include sp{
							font-size: 6.933vw;
							top: 10.133vw;
						}//sp
					}//.num
				}//.icon
				
				h3{
					font-size: 32px;
					font-weight: 500;
					letter-spacing: .1em;
					line-height: 1.4;
					text-align: center;
					@include tablet{
						font-size: 2.222vw;
					}//tablet
					@include sp{
						font-size: 4.8vw;
					}//sp
					
					.en{
						font-size: 16px;
						//font-family: $fontYantramanav;
						font-weight: 500;
						letter-spacing: .1em;
						min-width: 310px;
						border-top: 1px solid #000;
						margin: 10px 0 0;
						padding: 10px 0 0;
						display: block;
						@include tablet{
							font-size: 1.111vw;
							min-width: 21.528vw;
							border-width: 0.069vw;
							margin: 0.694vw 0 0;
							padding: 0.694vw 0 0;
						}//tablet
						@include sp{
							font-size: 2.933vw;
							min-width: 50.667vw;
							max-width: 50.667vw;
							border-width: 0.267vw;
							margin: 2.667vw 0 0;
							padding: 2.667vw 0 0;
						}//sp
					}//.en
				}//h3
				
				&.is_z{//Z世代
					align-items: center;
					
					.icon{
						padding: 0;
						@include sp{
							margin-right: 0;
						}//sp
						
						img{
							width: auto;
							height: 80px;
							@include tablet{
								height: 5.556vw;
							}//tablet
							@include sp{
								width: 22.667vw;
								height: auto;
							}//sp
						}//img
					
						.num{
							color: #333;
							font-size: 20px;
							width: 100%;
							top: 33px;
							left: 0;
							@include tablet{
								font-size: 1.389vw;
								top: 2.292vw;
							}//tablet
							@include sp{    font-size: 14px;
    top: 20px;
							}//sp
						}//.num
					}//.icon
				}//.is_z
			}//.heading
			
			.full-width-text{
				margin-bottom: 120px;
				@include tablet{
					margin-bottom: 8.333vw;
				}//tablet
				@include sp{
					margin-bottom: 16vw;
				}//sp
				
				.paragraph{
					p{
						font-size: 15px;
						font-weight: 500;
						letter-spacing: .05em;
						line-height: 2;
						@include tablet{
							font-size: 1.042vw;
						}//tablet
						@include sp{
							font-size: 3.467vw;
							letter-spacing: 0;
							line-height: 1.8;
						}//sp
					}//p
				}//.paragraph
			}//.full-width-text
			
			.full-width-image{
				margin-bottom: 120px;
				@include tablet{
					margin-bottom: 8.333vw;
				}//tablet
				@include sp{
					margin-bottom: 16vw;
				}//sp
				
				figure{
					margin-bottom: 70px;
					@include tablet{
						margin-bottom: 4.861vw;
					}//tablet
					@include sp{
						margin-bottom: 26.667vw;
					}//sp
					
					img{
						width: 100%;
						height: auto;
					}//img
				}//figure
				
				.paragraph{
					position: relative;
					
					&:before{
						content: "";
						width: 210px;
						height: 1px;
						background-color: #000;
						position: absolute;
						top: -35px;
						right: 40px;
						@include tablet{
							width: 14.583vw;
							height: 0.069vw;
							top: -2.431vw;
							right: 2.778vw;
						}//tablet
						@include sp{
							width: 46.667vw;
							height: 0.267vw;
							top: -12vw;
							right: 0;
						}//sp
					}//:before
					
					&:after{
						content: "";
						width: 25px;
						height: 15px;
						background-color: #fff;
						border-bottom: 1px solid #000;
						position: absolute;
						top: -39px;
						right: 110px;
						transform: rotate(45deg);
						@include tablet{
							width: 1.736vw;
							height: 1.042vw;
							border-width: 0.069vw;
							top: -2.708vw;
							right: 7.639vw;
						}//tablet
						@include sp{
							width: 4vw;
							height: 2.667vw;
							border-width: 0.267vw;
							top: -12.8vw;
							right: 13.333vw;
						}//sp
					}//:before
					
					p{
						font-size: 15px;
						font-weight: 500;
						letter-spacing: .05em;
						line-height: 2;
						@include tablet{
							font-size: 1.042vw;
						}//tablet
						@include sp{
							font-size: 3.467vw;
							letter-spacing: 0;
							line-height: 1.8;
						}//sp
					}//p
				}//.paragraph
			}//.full-width-image
			
			.half-width-image{
				margin-bottom: 150px;
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				align-items: flex-end;
				@include tablet{
					margin-bottom: 10.417vw;
				}//tablet
				@include sp{
					margin-bottom: 16vw;
				}//sp
				
				figure{
					width: 500px;
					@include tablet{
						width: 34.722vw;
					}//tablet
					@include sp{
						width: 100%;
						margin-bottom: 5.333vw;
					}//sp
					
					img{
						width: 100%;
						height: auto;
					}//img
				}//figure
				
				.paragraph{
					width: 340px;
					padding: 30px 0;
					border-top: 1px solid #000;
					border-bottom: 1px solid #000;
					@include tablet{
						width: 23.611vw;
						padding: 2.083vw 0;
						border-width: 0.069vw;
					}//tablet
					@include sp{
						width: 100%;
						border-top: none;
						border-width: 0.267vw;
						padding: 0 0 5.333vw;
					}//sp
					
					h4{
						font-size: 16px;
						font-weight: 600;
						letter-spacing: .1em;
						line-height: 1.8;
						margin-bottom: 10px;
						@include tablet{
							font-size: 1.111vw;
							margin-bottom: 0.694vw;
						}//tablet
						@include sp{
							font-size: 4.267vw;
							margin-bottom: 2.667vw;
						}//sp
					}//h4
					
					p{
						font-size: 13px;
						font-weight: 500;
						letter-spacing: .1em;
						line-height: 2;
						@include tablet{
							font-size: 0.903vw;
						}//tablet
						@include sp{
							font-size: 3.467vw;
							letter-spacing: 0;
							line-height: 1.8;
						}//sp
					}//p
				}//.paragraph
				
				&.is_right{
					flex-direction: row-reverse;
					@include sp{
						flex-direction: inherit;
					}//sp
				}//.is_right
			}//.half-width-image
			
			.info-container{
				border: 1px solid #666;
				padding: 90px 70px 60px 70px;
				position: relative;
				@include tablet{
					border-width: 0.069vw;
					padding: 6.25vw 4.861vw 4.167vw 4.861vw;
				}//tablet
				@include sp{
					border-width: 0.267vw;
					padding: 16vw 8vw 8vw;
					margin-top: 32vw;
				}//sp
					
				h3{
					width: 250px;
					position: absolute;
					top: -30px;
					left: -120px;
					@include tablet{
						width: 17.361vw;
						top: -2.083vw;
						left: -8.333vw;
					}//tablet
					@include sp{
						width: 50.667vw;
						top: -12vw;
						left: 10.667vw;
					}//sp
					
					img{
						width: 100%;
						height: auto;
					}//img
				}//h3
				
				.inner{
					position: relative;
					border-top: 1px solid #e1e1e1;
					padding: 30px 230px 0 0;
					margin-top: 30px;
					@include tablet{
						border-width: 0.069vw;
						padding: 2.083vw 15.972vw 0 0;
						margin-top: 2.083vw;
					}//tablet
					@include sp{
						padding: 8vw 0 0 0;
						margin-top: 8vw;
						border-width: 0.267vw;
					}//sp
					
					&:first-of-type{
						border-top: none;
						padding-top: 0;
						margin-top: 0;
					}//:first-of-type
					
					h4{
						font-size: 20px;
						font-weight: 600;
						letter-spacing: .2em;
						line-height: 1.6;
						margin-bottom: 15px;
						@include tablet{
							font-size: 1.389vw;
							margin-bottom: 1.042vw;
						}//tablet
						@include sp{
							font-size: 4.8vw;
							letter-spacing: .1em;
							margin-bottom: 1.333vw;
						}//sp
					}//h4
					
					.tel{
						font-size: 18px;
						font-family: $fontYantramanav;
						font-weight: 400;
						letter-spacing: .1em;
						margin-bottom: 20px;
						@include tablet{
							font-size: 1.25vw;
							margin-bottom: 1.389vw;
						}//tablet
						@include sp{
							font-size: 4vw;
							margin-bottom: 4vw;
						}//sp
					}//.tel
					
					.paragraph{
						p{
							font-size: 13px;
							font-weight: 500;
							letter-spacing: .1em;
							line-height: 2;
							@include tablet{
								font-size: 0.903vw;
							}//tablet
							@include sp{
								font-size: 3.467vw;
								line-height: 1.8;
								letter-spacing: .05em;
							}//sp
						}//p
					}//.desc
					
					.link{
						font-size: 18px;
						font-family: $fontYantramanav;
						letter-spacing: .1em;
						display: flex;
						flex-wrap: wrap;
						align-items: center;
						position: absolute;
						right: 0;
						bottom: 0;
						@include tablet{
							font-size: 1.25vw;
						}//tablet
						@include sp{
							font-size: 4.8vw;
							margin-top: 10.667vw;
							position: static;
							right: auto;
							bottom: auto;
						}//sp
						
						.icon{
							width: 50px;
							margin-left: 15px;
							@include tablet{
								width: 3.472vw;
								margin-left: 1.042vw;
							}//tablet
							@include sp{
								width: 13.333vw;
								margin-left: 4vw;
							}//sp
							
							img{
								width: 100%;
								height: auto;
							}//img
						}//.icon
					}//.link
				}//.inner
			}//.info-container
		}//.point-container
		
		.spot-map{
			width: 800px;
			margin: 0 auto;
			@include tablet{
				width: 55.556vw;
			}//tablet
			@include sp{
				width: 100%;
			}//sp
			
			h3{
				width: 370px;
				height: auto;
				margin: 0 auto 60px;
				@include tablet{
					width: 25.694vw;
					margin: 0 auto 4.167vw;
				}//tablet
				@include sp{
					width: 53.333vw;
					margin: 0 auto 8vw;
				}//sp
				
				img{
					width: 100%;
					height: auto;
				}//img
			}//h3
			
			.gglm{
				height: 0;
				padding-bottom: 56.25%;
				overflow: hidden;
				position: relative;
				
				iframe{
					width: 100%;
					height: 100%;
					position: absolute;
					top: 0;
					left: 0;
				}//iframe
			}//.gglm
		}//.spot-map
	}//__inner
}//.p-contents-area