@charset "utf-8";

// ============================================================
//  project/_footer-container.scss
// ============================================================

.p-footer-container{
	width: 980px;
	margin: 0 auto;
	padding: 80px 0;
	position: relative;
	@include tablet{
		width: 68.056vw;
		padding: 5.556vw 0;
	}//tablet
	@include sp{
		width: 100%;
		margin: 0 auto;
		padding: 21.333vw 5.333vw 10.667vw;
		box-sizing: border-box;
	}//sp
	
	&__logo{
		margin-bottom: 60px;
		@include tablet{
			margin-bottom: 4.167vw;
		}//tablet
		@include sp{
			margin-bottom: 13.333vw;
		}//sp
		
		a{
			display: block;
			@include sp{
				text-align: center;
			}//sp
			
			img{
				width: 300px;
				height: auto;
				@include tablet{
					width: 20.833vw;
				}//tablet
				@include sp{
					width: 80vw;
				}//sp
			}//img
		}//a
	}//__logo
	
	&__navi{
		position: absolute;
		top: 80px;
		right: 0;
		display: none;
		@include tablet{
			top: 5.556vw;
		}//tablet
		@include sp{
			margin-bottom: 13.333vw;
			position: static;
			top: auto;
			right: auto;
		}//sp
		
		ul{
			display: flex;
			flex-wrap: wrap;
			@include sp{
				justify-content: center;
			}//sp
			
			li{
				margin-right: 30px;
				@include tablet{
					margin-right: 2.083vw;
				}//tablet
				@include sp{
					margin-bottom: 5.333vw;
					&:nth-child(3){
						margin-right: 0;
					}//:nth-child(3)
				}//sp
				
				&:last-child{
					margin-right: 0;
				}//:last-child
				
				a{
					font-size: 18px;
					font-weight: 500;
					line-height: 1;
					@include tablet{
						font-size: 1.25vw;
					}//tablet
					@include sp{
						font-size: 5.333vw;
					}//sp
				}//a
			}//li
		}//ul
	}//__navi
	
	&__bnr{
		position: absolute;
		top: 80px;
		right: 80px;
		@include tablet{
			top: 5.556vw;
			right: 5.556vw;
		}//tablet
		@include sp{
			margin-bottom: 10.667vw;
			position: static;
			top: auto;
			right: auto;
		}//sp
		
		ul{
			display: flex;
			flex-wrap: wrap;
			
			li{
				width: 110px;
				margin-right: 15px;
				@include tablet{
					width: 7.639vw;
					margin-right: 1.042vw;
				}//tablet
				@include sp{
					width: 20vw;
					margin-right: 2.667vw;
				}//sp
				
				&:last-child{
					margin-right: 0;
				}//:last-child
				
				img{
					width: 100%;
					height: auto;
				}//img
			}//li
		}//ul
	}//__bnr
	
	&__nagasaki{
		position: absolute;
		bottom: 80px;
		right: 0;
		display: none;
		@include tablet{
			bottom: 5.556vw;
		}//tablet
		@include sp{
			margin-bottom: 10.667vw;
			position: static;
			top: auto;
			right: auto;
		}//sp
		
		a{
			display: block;
			
			img{
				width: 435px;
				height: auto;
				@include tablet{
					width: 30.208vw;
				}//tablet
				@include sp{
					width: 100%;
				}//sp
			}//img
		}//a
	}//__nagasaki
	
	&__copyright{
		font-size: 14px;
		line-height: 1;
		@include tablet{
			font-size: 0.972vw;
			margin-left: 2.431vw;
		}//tablet
		@include sp{
			font-size: 3.2vw;
			text-align: center;
			margin-left: 0;
		}//sp
	}//__copyright
}//.p-footer-container