@charset "utf-8";

// ============================================================
//  project/_header-container.scss
// ============================================================

.p-header-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	
	&__logo{
		width: 60px;
		@include tablet{
			width: 4.167vw;
		}//tablet
		@include sp{
			width: 16vw;
		}//sp
		
		a{
			display: block;
			
			svg{
				width: 100%;
				height: auto;
			}//svg
		}//a
	}//__logo
	
	&__navi{
		padding: 0 30px;
		background-color: #fff;
		display: none;
		@include tablet{
			padding: 0 2.083vw;
		}//tablet
		@include sp{
			padding: 0 5.333vw;
		}//sp
		
		ul{
			height: 60px;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			@include tablet{
				height: 4.167vw;
			}//tablet
			@include sp{
				height: 16vw;
			}//sp
			
			li{
				margin-right: 50px;
				@include tablet{
					margin-right: 3.472vw;
				}//tablet
				@include sp{
					margin-right: 4vw;
				}//sp
				
				&:last-child{
					margin-right: 0;
				}//:last-child
				
				a{
					font-size: 18px;
					font-weight: 500;
					line-height: 1;
					@include tablet{
						font-size: 1.25vw;
					}//tablet
					@include sp{
						font-size: 3.733vw;
					}//sp
				}//a
			}//li
		}//ul
	}//__navi
}//.p-header-container