@charset "utf-8";

// ============================================================
//  project/_index-info.scss
// ============================================================

.p-index-info{
	padding: 120px 0;
	background-color: #f3f3f3;
	position: relative;
	z-index: 5;
	@include tablet{
		padding: 8.333vw 0;
	}//tablet
	@include sp{
		padding: 16vw 5.333vw;
	}//sp
	
	&__inner{
		width: 980px;
		margin: 0 auto;
		@include tablet{
			width: 68.056vw;
		}//tablet
		@include sp{
			width: 100%;
		}//sp
		
		h3{
			font-size: 36px;
			font-weight: 500;
			letter-spacing: .05em;
			line-height: 1.6;
			text-align: center;
			margin-bottom: 60px;
			@include tablet{
				font-size: 2.5vw;
				margin-bottom: 4.167vw;
			}//tablet
			@include sp{
				font-size: 6.933vw;
				margin-bottom: 10.667vw;
			}//sp
		}//h3
		
		ul{
			li{
				margin-bottom: 60px;
				@include tablet{
					margin-bottom: 4.167vw;
				}//tablet
				@include sp{
					margin-bottom: 8vw;
				}//sp
				
				&:last-child{
					margin-bottom: 0;
				}//:last-child
				
				.item{
					padding: 60px 80px 60px 60px;
					background: transparent url(../images/index/info_bg.jpg);
					background-size: cover;
					background-position: 50% 50%;
					border-radius: 20px 20px 0 0;
					box-sizing: border-box;
					position: relative;
					display: flex;
					justify-content: space-between;
					@include tablet{
						padding: 4.167vw 5.556vw 4.167vw 4.167vw;
						border-radius: 1.389vw 1.389vw 0 0;
					}//tablet
					@include sp{
						width: 100%;
						padding: 8vw;
						display: block;
					}//sp
					
					figure{
						width: 350px;
						@include tablet{
							width: 24.306vw;
						}//tablet
						@include sp{
							width: 100%;
							margin-bottom: 5.333vw;
						}//sp
						
						img{
							width: 100%;
							height: auto;
						}//img
					}//figure
					
					.detail{
						width: 430px;
						@include tablet{
							width: 29.861vw;
						}//tablet
						@include sp{
							width: 100%;
						}//sp
						
						h4{
							color: #333;
							font-size: 28px;
							font-weight: 500;
							padding-bottom: 25px;
							margin-bottom: 25px;
							position: relative;
							@include tablet{
								font-size: 1.944vw;
								padding-bottom: 1.736vw;
								margin-bottom: 1.736vw;
							}//tablet
							@include sp{
								font-size: 5.333vw;
								margin-bottom: 2.667vw;
								padding-bottom: 5.333vw;
							}//sp
							
							&:after{
								content: "";
								width: 50px;
								height: 1px;
								background-color: #333;
								position: absolute;
								bottom: 0;
								left: 0;
								@include tablet{
									width: 3.472vw;
									height: 0.069vw;
								}//tablet
								@include sp{
									width: 5.333vw;
									height: 0.267vw;
								}//sp
							}//:after
						}//h4
						
						p{
							color: #333;
							font-size: 16px;
							font-family: $fontGothic;
							font-weight: 400;
							letter-spacing: .05em;
							line-height: 1.8;
							margin-bottom: 30px;
							@include tablet{
								font-size: 1.111vw;
								margin-bottom: 2.083vw;
							}//tablet
							@include sp{
								font-size: 3.467vw;
								margin-bottom: 5.333vw;
							}//sp
						}//p
						
						.link{
							color: #333;
							font-size: 18px;
							font-family: $fontGothic;
							font-weight: 400;
							letter-spacing: .15em;
							line-height: 1;
							display: flex;
							align-items: center;
							justify-content: flex-end;
							@include tablet{
								font-size: 1.25vw;
							}//tablet
							@include sp{
								font-size: 3.467vw;
							}//sp
							
							.icon{
								margin-left: 10px;
								@include tablet{
									margin-left: 0.694vw;
								}//tablet
								@include sp{
									margin-left: 2.667vw;
								}//sp
								
								img{
									width: 30px;
									height: 30px;
									@include tablet{
										width: 2.083vw;
										height: 2.083vw;
									}//tablet
									@include sp{
										width: 8vw;
										height: 8vw;
									}//sp
								}//img
							}//.icon
						}//.link
					}//.detail
				}//.item
			}//li
		}//ul
	}//__inner
}//.p-index-news