@charset "utf-8";

// ============================================================
//  project/_index-contents.scss
// ============================================================

.p-index-contents{
	padding: 100px 0;
	position: relative;
	z-index: 5;
	@include tablet{
		padding: 6.944vw 0;
	}//tablet
	@include sp{
		padding: 10.667vw 0;
	}//sp
	
	&__bg{
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: 0 0;
		}//img
	}//__bg
	
	&__inner{
		width: 980px;
		margin: 0 auto;
		position: relative;
		z-index: 5;
		@include tablet{
			width: 68.056vw;
		}//tablet
		@include sp{
			width: 100%;
			padding: 0 5.333vw;
			box-sizing: border-box;
		}//sp
		
		.icon{
			position: absolute;
			top: -140px;
			left: 50%;
			transform: translateX(-50%);
			@include tablet{
				top: -9.722vw;
			}//tablet
			@include sp{
				top: -20vw;
			}//sp
			
			img{
				width: 100px;
				height: auto;
				@include tablet{
					width: 6.944vw;
				}//tablet
				@include sp{
					width: 20vw;
				}//sp
			}//img
		}//.icon
		
		h3{
			font-size: 36px;
			font-weight: 500;
			letter-spacing: .05em;
			line-height: 1;
			text-align: center;
			margin-bottom: 40px;
			@include tablet{
				font-size: 2.5vw;
				margin-bottom: 2.778vw;
			}//tablet
			@include sp{
				font-size: 6.933vw;
				margin-bottom: 8vw;
			}//sp
		}//h3
		
		ul{
			display: flex;
			flex-wrap: wrap;
			
			.item{
				width: 300px;
				height: 500px;
				margin: 0 40px 40px 0;
				padding: 25px;
				background-color: #fff;
				box-sizing: border-box;
				position: relative;
				@include tablet{
					width: 20.833vw;
					height: 34.722vw;
					margin: 0 2.778vw 2.778vw 0;
					padding: 1.736vw;
				}//tablet
				@include sp{
					width: 41.333vw;
					height: 85.333vw;
					padding: 4vw;
					margin: 0 5.333vw 5.333vw 0;
					
					&:nth-child(2n){
						margin-right: 0 !important;
					}//:nth-child(2n)
				}//sp
				
				&:nth-child(3n){
					margin-right: 0;
					@include sp{
						margin-right: 5.333vw;
					}//sp
				}//:nth-child(3n)
				
				figure{
					margin-bottom: 20px;
					@include tablet{
						margin-bottom: 1.389vw;
					}//tablet
					@include sp{
						margin-bottom: 4vw;
					}//sp
					
					a{
						display: block;
						
						img{
							width: 100%;
							height: auto;
						}//img
					}//a
				}//figure
				
				.date{
					font-size: 16px;
					line-height: 1;
					margin-bottom: 10px;
					@include tablet{
						font-size: 1.111vw;
						margin-bottom: 0.694vw;
					}//tablet
					@include sp{
						font-size: 3.2vw;
						font-weight: 500;
						margin-bottom: 2.667vw;
					}//sp
				}//.date
				
				h4{
					font-size: 18px;
					line-height: 1.6;
					margin-bottom: 20px;
					@include tablet{
						font-size: 1.25vw;
						margin-bottom: 1.389vw;
					}//tablet
					@include sp{
						font-size: 3.733vw;
						line-height: 1.4;
						margin-bottom: 2.667vw;
					}//sp
				}//h4
				
				.category{
					display: flex;
					flex-wrap: wrap;
					
					li{
						a{
							font-size: 14px;
							line-height: 1;
							padding: 5px 10px 6px;
							border: 1px solid #000;
							border-radius: 25px;
							display: block;
							@include tablet{
								font-size: 0.972vw;
								padding: 0.347vw 0.694vw 0.417vw;
								border-width: 0.069vw;
								border-radius: 1.736vw;
							}//tablet
							@include sp{
								font-size: 2.667vw;
								font-weight: 500;
								padding: 1.333vw 1.6vw 1.6vw;
								border-width: 0.267vw;
								border-radius: 6.667vw;
							}//sp
						}//a
					}//li
				}//.category
				
				&.coming{
					figure{
						margin-bottom: 0;
						position: absolute;
						top: 0;
						left: 0;
						box-sizing: border-box;
						
						&:before{
							content: "";
							width: 100%;
							height: 100%;
							border: 10px solid #fff;
							position: absolute;
							top: 0;
							left: 0;
							box-sizing: border-box;
							@include tablet{
								border-width: 0.694vw;
							}//tablet
							@include sp{
								border-width: 1.333vw;
							}//sp
						}//:before
					
						img{
							width: 100%;
							height: 100%;
							object-fit: cover;
							@include sp{
								height: 85.333vw;
							}//sp
						}//img
					}//figure
				}//.coming
			}//.item
		}//ul
	}//__inner
}//.p-index-contents