@charset "utf-8";

// ============================================================
//  project/_header-container.scss
// ============================================================

.p-index-news{
	padding: 60px 0 180px;
	background-color: #f3f3f3;
	position: relative;
	z-index: 5;
	@include tablet{
		padding: 4.167vw 0 12.5vw;
	}//tablet
	@include sp{
		padding: 10.667vw 5.333vw 21.333vw;
	}//sp
	
	&__inner{
		width: 980px;
		margin: 0 auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		@include tablet{
			width: 68.056vw;
		}//tablet
		@include sp{
			width: 100%;
			display: block;
		}//sp
		
		h3{
			font-size: 36px;
			font-weight: 500;
			letter-spacing: .05em;
			line-height: 1;
			@include tablet{
				font-size: 2.5vw;
			}//tablet
			@include sp{
				font-size: 6.933vw;
				margin-bottom: 5.333vw;
			}//sp
		}//h3
		
		ul{
			width: 780px;
			@include tablet{
				width: 54.167vw;
			}//tablet
			@include sp{
				width: 100%;
			}//sp
			
			li{
				padding-bottom: 20px;
				margin-bottom: 20px;
				border-bottom: 1px solid #000;
				@include tablet{
					padding-bottom: 1.389vw;
					margin-bottom: 1.389vw;
					border-width: 0.069vw;
				}//tablet
				@include sp{
					padding-bottom: 5.333vw;
					margin-bottom: 5.333vw;
					border-width: 0.267vw;
				}//sp
				
				a{
					display: flex;
					justify-content: space-between;
					
					.date{
						font-size: 18px;
						line-height: 1.6;
						letter-spacing: .05em;
						@include tablet{
							font-size: 1.25vw;
						}//tablet
						@include sp{
							font-size: 3.2vw;
						}//sp
					}//.date
					
					p{
						font-size: 22px;
						line-height: 1.4;
						width: 540px;
						@include tablet{
							font-size: 1.528vw;
							width: 37.5vw;
						}//tablet
						@include sp{
							font-size: 3.733vw;
							width: 58.667vw;
						}//sp
					}//p
				}//a
			}//li
		}//ul
		
		.hole-cover{
			width: 690px;
			position: absolute;
			top: -117px;
			left: 50%;
			transform: translateX(-50%);
			z-index: 3;
			@include tablet{
				width: 47.917vw;
				top: -8.125vw;
			}//tablet
			@include sp{
				width: 53.333vw;
				top: -8.8vw;
			}//sp
			
			img{
				width: 100%;
				height: auto;
			}//img
		}//.hole-cover
	}//__inner
}//.p-index-news