@charset "utf-8";

// ============================================================
//  project/_index-main-visual.scss
// ============================================================

.p-index-top-area{
	position: relative;
	overflow: hidden;
	
	.c-background{
		position: absolute;
	}//.c-background
	
	&__main-visual{
		width: 1125px;
		margin: 0 auto;
		padding: 130px 0 0;
		position: relative;
		@include tablet{
			width: 78.125vw;
			padding: 9.028vw 0 0;
		}//tablet
		@include sp{
			width: 86.667vw;
			padding: 20vw 0 0;
		}//sp
		
		.heading{
			width: 1020px;
			position: absolute;
			top: 150px;
			left: 50%;
			transform: translateX(-50%);
			z-index: 5;
			@include tablet{
				width: 70.833vw;
				top: 10.417vw;
			}//tablet
			@include sp{
				width: 100%;
				top: 24vw;
			}//tablet

			h1{
				margin-bottom: 40px;
				transition: all 2s ease;
				@include tablet{
					margin-bottom: 2.778vw;
				}//tablet
				@include sp{
					margin-bottom: 5.333vw;
				}//sp
				
				img{
					width: 100%;
					height: auto;
					transition: all 2s ease;
					transform-origin: 50% 100%;
				}//img
				
				&.is_fade{
					transition: all 8s ease-out;
					transform: translateY(1600px);
					@include tablet{
						transform: translateY(111.111vw);
					}//tablet
					@include sp{
						transform: translateY(266.667vw);
					}//sp
					
					img{
						transition: all 8s ease-out;
						opacity: 0;
						transform: scale(0);
					}//img
				}//.is_fade
			}//h1
			
			h2{
				text-align: center;
				
				img{
					width: 780px;
					height: auto;
					@include tablet{
						width: 54.167vw;
					}//tablet
					@include sp{
						width: 69.333vw;
					}//tablet
				}//img
			}//h1
			
		}//.heading
		
		.bg{
			position: relative;
			
			img{
				width: 100%;
				height: auto;
				//opacity: 0;
			}//img
			
			svg{
				position: absolute;
				top: 0;
				left: 0;
			}//svg
		}//.bg
		
		&.is_z{ /* Z世代 */
			img{
				width: 100%;
				height: auto;
			}//img
			
			.bg{
				position: relative;
				
				img{
					opacity: 1 !important;
				}//img
			}//.bg

			.penguin_1{
				width: 149px;
				height: 78px;
				position: absolute;
				top: 335px;
				left: 55px;
				z-index: 3;
				@include tablet{
					width: 10.347vw;
					height: 5.417vw;
					top: 23.264vw;
					left: 3.819vw;
				}//tablet
				@include sp{
					top: 73.333vw;
					left: 16vw;
					width: 21.333vw;
					height: 11.2vw;
				}//sp
			}//.penguin_1
			
			.penguin_2{
				width: 164px;
				height: 67px;
				position: absolute;
				top: 335px;
				right: 35px;
				z-index: 3;
				@include tablet{
					width: 11.389vw;
					height: 4.653vw;
					top: 23.264vw;
					right: 2.431vw;
				}//tablet
				@include sp{
					top: 69.333vw;
					right: 2.667vw;
					width: 22.667vw;
					height: 9.333vw;
				}//sp
			}//.penguin_2
			
			.photoframe{
				width: 900px;
				height: 390px;
				position: absolute;
				top: 480px;
				left: 120px;
				z-index: 1;
				@include tablet{
					width: 62.5vw;
					height: 27.083vw;
					top: 33.333vw;
					left: 8.333vw;
				}//tablet
				@include sp{
					width: 76vw;
					height: 65.333vw;
					top: 58.667vw;
					left: 5.333vw;
				}//sp
			}//.photoframe
			
			.ladies{
				width: 570px;
				height: 710px;
				position: absolute;
				top: 570px;
				left: 300px;
				z-index: 1;
				@include tablet{
					width: 39.583vw;
					height: 49.306vw;
					top: 39.583vw;
					left: 20.833vw;
				}//tablet
				@include sp{
					width: 66.667vw;
					height: 54.667vw;
					top: 90.667vw;
					left: 16vw;
				}//sp
			}//.ladies
			
			.road{
				width: 1280px;
				height: 347px;
				position: absolute;
				top: 915px;
				left: -80px;
				z-index: 2;
				@include tablet{
					width: 88.889vw;
					height: 24.097vw;
					top: 63.542vw;
					left: -5.556vw;
				}//tablet
				@include sp{
					width: 122.667vw;
					height: 33.333vw;
					top: 130.667vw;
					left: -29.333vw;
				}//sp
			}//.road
			
			.icecream_1{
				width: 380px;
				height: 455px;
				position: absolute;
				top: 500px;
				left: -120px;
				z-index: 3;
				@include tablet{
					width: 26.389vw;
					height: 31.597vw;
					top: 34.722vw;
					left: -8.333vw;
				}//tablet
				@include sp{
					width: 37.333vw;
					height: 44.533vw;
					top: 75.2vw;
					left: -13.333vw;
				}//sp
			}//.icecream_1
			
			.icecream_2{
				width: 280px;
				height: 455px;
				position: absolute;
				top: 700px;
				right: -80px;
				z-index: 1;
				@include tablet{
					width: 19.444vw;
					height: 31.597vw;
					top: 48.611vw;
					right: -5.556vw;
				}//tablet
				@include sp{
					width: 37.333vw;
					height: 121.333vw;
					top: 96vw;
					right: -16vw;
				}//sp
			}//.icecream_2
			
			.bike_1{
				width: 166px;
				height: 114px;
				position: absolute;
				top: 870px;
				left: 225px;
				z-index: 3;
				@include tablet{
					width: 11.528vw;
					height: 7.917vw;
					top: 60.417vw;
					left: 15.625vw;
				}//tablet
				@include sp{
					width: 21.333vw;
					height: 14.667vw;
					top: 125.333vw;
					left: 0;
				}//sp
			}//.bike_1
			
			.bike_2{
				width: 200px;
				height: 138px;  
				position: absolute;
				top: 895px;
				left: 440px;
				z-index: 3;
				@include tablet{
					width: 13.889vw;
					height: 9.583vw;
					top: 62.153vw;
					left: 30.556vw;
				}//tablet
				@include sp{
					width: 25.333vw;
					height: 17.333vw;
					top: 128vw;
					left: 26.667vw;
				}//sp
			}//.bike_2
			
			.bike_3{
				width: 280px;
				height: 192px;
				position: absolute;
				top: 910px;
				left: 720px;
				z-index: 3;
				@include tablet{
					width: 19.444vw;
					height: 13.333vw;
					top: 63.194vw;
					left: 50vw;
				}//tablet
				@include sp{
					width: 32vw;
					height: 21.867vw;
					top: 130.667vw;
					left: 56vw;
				}//sp
			}//.bike_3
		}//.is_z
	}//__main-visual
	
	&__concept{
		width: 1125px;
		margin: 0 auto;
		position: relative;
		@include tablet{
			width: 78.125vw;
		}//tablet
		@include sp{
			width: 86.667vw;
			top: 0.267vw;
		}//sp
		
		.inner{
			text-align: center;
			width: 100%;
			padding-top: 100px;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 5;
			@include tablet{
				padding-top: 6.944vw;
			}//tablet
			@include sp{
				width: 100%;
				padding: 10.667vw 5.333vw;
				box-sizing: border-box;
			}//sp
			
			h2{
				color: #000;
				font-size: 42px;
				font-weight: 500;
				letter-spacing: .05em;
				line-height: 1.6;
				margin-bottom: 40px;
				@include tablet{
					font-size: 2.917vw;
					margin-bottom: 2.778vw;
				}//tablet
				@include sp{
					font-size: 6.667vw;
					line-height: 1.4;
					margin-bottom: 5.333vw;
				}//sp
			}//h2
			
			p{
				color: #000;
				font-size: 22px;
				font-weight: 500;
				line-height: 2.6;
				@include tablet{
					font-size: 1.528vw;
				}//tablet
				@include sp{
					font-size: 4.267vw;
					letter-spacing: -.05em;
					line-height: 1.9;
				}//sp
				
				&.mb{
					margin-bottom: 30px;
					@include tablet{
						margin-bottom: 2.083vw;
					}//tablet
					@include sp{
					    margin-bottom: 13.333vw;
					}//sp
				}//.mb
			}//p
		}//.inner
		
		.bg{
			position: relative;
			
			img{
				width: 100%;
				height: auto;
				opacity: 0;
			}//img
			
			svg{
				position: absolute;
				top: 0;
				left: 0;
			}//svg
		}//.bg
		
		
		&.is_z{ /* Z世代 */
			.inner{
				padding-top: 180px;
				@include tablet{
					padding-top: 12.5vw;
				}//tablet
				@include sp{
					padding-top: 8vw;
				}//tablet
			}//.inner
			
			img{
				width: 100%;
				height: auto;
			}//img
			
			.lighthouse{
				width: 361px;
				height: 185px;
				position: absolute;
				top: 270px;
				left: -80px;
				z-index: 3;
				@include tablet{
					width: 25.069vw;
					height: 12.847vw;
					top: 18.75vw;
					left: -5.556vw;
				}//tablet
				@include sp{
					width: 36vw;
					height: 18.667vw;
					top: 12vw;
					left: -6.667vw;
				}//sp
			}//.lighthouse
			
			.penguin_3{
				width: 87px;
				height: 218px;
				position: absolute;
				top: 260px;
				right: 120px;
				z-index: 3;
				@include tablet{
					width: 6.042vw;
					height: 15.139vw;
					top: 18.056vw;
					right: 8.333vw;
				}//tablet
				@include sp{
					width: 9.6vw;
					height: 24vw;
					top: 23.467vw;
					left: auto;
					right: 1.333vw;
				}//sp
			}//.penguin_3
			
			.penguin_4{
				width: 108px;
				height: 135px;
				position: absolute;
				top: 515px;
				left: 170px;
				z-index: 3;
				@include tablet{
					width: 7.5vw;
					height: 9.375vw;
					top: 35.764vw;
					left: 11.806vw;
				}//tablet
				@include sp{
					width: 14.667vw;
					height: 18.133vw;
					top: 76vw;
					left: 2.667vw;
				}//sp
			}//.penguin_4
			
			.embankment{
				width: 395px;
				height: 251px;
				position: absolute;
				top: 540px;
				right: -75px;
				z-index: 1;
				@include tablet{
					width: 27.431vw;
					height: 17.431vw;
					top: 37.5vw;
					right: -5.208vw;
				}//tablet
				@include sp{
					width: 40vw;
					height: 25.333vw;
					top: 77.333vw;
					left: auto;
					right: -14.667vw;
				}//sp
			}//.embankment
			
			.bottle{
				width: 120px;
				height: 318px;
				position: absolute;
				top: 800px;
				right: 80px;
				z-index: 1;
				@include tablet{
					width: 8.333vw;
					height: 22.083vw;
					top: 55.556vw;
					right: 5.556vw;
				}//tablet
				@include sp{
					width: 14.667vw;
					height: 38.667vw;
					top: 102.667vw;
					left: auto;
					right: -5.333vw;
				}//sp
			}//.bottle
			
			.boat{
				width: 520px;
				height: 107px;
				position: absolute;
				top: 1210px;
				right: -50px;
				z-index: 1;
				@include tablet{
					width: 36.111vw;
					height: 7.431vw;
					top: 84.028vw;
					right: -3.472vw;
				}//tablet
				@include sp{
					width: 61.333vw;
					height: 12.8vw;
					top: 184vw;
					left: auto;
					right: -26.667vw;
				}//sp
			}//.boat
			
			.shrine{
				width: 196px;
				height: 149px;
				position: absolute;
				top: 1245px;
				left: 460px;
				z-index: 1;
				@include tablet{
					width: 13.611vw;
					height: 10.347vw;
					top: 86.458vw;
					left: 31.944vw;
				}//tablet
				@include sp{
					width: 26.667vw;
					height: 20.267vw;
					top: 189.333vw;
					left: 30.667vw;
				}//sp
			}//.shrine
			
			.sunglass{
				width: 580px;
				height: 360px;
				position: absolute;
				top: 860px;
				left: 265px;
				position: absolute;
				z-index: 1;
				@include tablet{
					width: 40.278vw;
					height: 25vw;
					top: 59.722vw;
					left: 18.403vw;
				}//tablet
				@include sp{
					width: 60vw;
					height: 37.333vw;
					top: 146.667vw;
					left: 14.667vw;
				}//sp
			}//.sunglass
			
			.girl{
				position: absolute;
				top: 700px;
				left: 400px;
				position: absolute;
				z-index: 1;
				@include tablet{
					top: 48.611vw;
					left: 27.778vw;
				}//tablet
				@include sp{
					top: 128vw;
					left: 21.333vw;
				}//sp
				
				img{
					width: 352px;
					height: auto;
					animation: vertical 2.5s ease-in-out infinite alternate;
					@keyframes vertical{
						0% { transform: translateY(0) scale(.96); }
						100% { transform: translateY(-80px) scale(1); }
					}//@keyframes vertical
					@include tablet{
						width: 24.444vw;
						@keyframes vertical{
							0% { transform: translateY(0) scale(.96); }
							100% { transform:translateY(-5.556vw) scale(1); }
						}//@keyframes vertical
					}//tablet
					@include sp{
						width: 45.333vw;
					}//sp
				}//img
			}//.girl
		}//.is_z
	}//__concept
	
	&__hole{
		text-align: center;
		width: 100%;
		height: 115px;
		background-color: #f3f3f3;
		position: relative;
		z-index: 1;
		@include tablet{
			height: 7.986vw;
		}//tablet
		@include sp{
			height: 8.667vw;
		}//sp
		
		img{
			width: 690px;
			height: auto;
			transform: translateY(-115px);
			@include tablet{
				width: 47.917vw;
				height: auto;
				transform: translateY(-7.986vw);
			}//tablet
			@include sp{
				width: 53.333vw;
				transform: translateY(-8.667vw);
			}//sp
		}//img
	}//__hole
	
	&__lady{
		text-align: center;
		width: 100%;
		position: fixed;
		bottom: 0;
		left: 0;
		transform: translateY(-30%);
		pointer-events: none;
		opacity: 0;
		transition: all 1s ease;
		z-index: 1;
		@include sp{
			bottom: 10.667vw;
		}//sp
		
		img{
			width: 465px;
			height: auto;
			animation: vertical 2.5s ease-in-out infinite alternate;
			@keyframes vertical{
				0% { transform: translateY(0) scale(.96); }
				100% { transform: translateY(-80px) scale(1); }
			}//@keyframes vertical
			@include tablet{
				width: 32.292vw;
				@keyframes vertical{
					0% { transform: translateY(0) scale(.96); }
					100% { transform:translateY(-5.556vw) scale(1); }
				}//@keyframes vertical
			}//tablet
			@include sp{
				width: 37.333vw;
			}//sp
		}//img
		
		&.is_active{
			transform: translateY(0);
			opacity: 1;
		}//.is_active
		
		&.is_z{ /* Z世代 */
			z-index: 3;
			
			img{
				width: 352px;
				height: auto;
				@include tablet{
					width: 24.444vw;
				}//tablet
				@include sp{
					width: 45.333vw;
				}//sp
			}//img
		}//.is_z
	}//.lady
}//.p-index-main-visual