@charset "utf-8";

// ============================================================
//  project/_news-contents.scss
// ============================================================

.p-news-area{
	position: relative;
	
	&__inner{
		width: 1000px;
		margin: 0 auto;
		padding: 60px 80px;
		background-color: #fff;
		box-sizing: border-box;
		transform: translateY(-100px);
		box-shadow: 0 0 14px rgba(0,0,0,.2);
		@include tablet{
			width: 69.444vw;
			padding: 4.167vw 5.556vw;
			transform: translateY(-6.944vw);
			box-shadow: 0 0 .972vw rgba(0,0,0,.2);
		}//tablet
		@include sp{
			width: calc(100% - 10.667vw);
			margin: 0 auto;
			padding: 8vw;
			transform: translateY(-16vw);
			box-shadow: 0 0 2.667vw rgba(0,0,0,.2);
		}//sp
		
		.heading{
			margin-bottom: 60px;
			@include tablet{
				margin-bottom: 4.167vw;
			}//tablet
			@include sp{
				margin-bottom: 10.667vw;
			}//sp
			
			h3{
				font-size: 26px;
				font-weight: 500;
				letter-spacing: .05em;
				line-height: 1.6;
				margin-bottom: 20px;
				@include tablet{
					font-size: 1.806vw;
					margin-bottom: 1.389vw;
				}//tablet
				@include sp{
					font-size: 4.8vw;
					margin-bottom: 5.333vw;
				}//sp
			}//h3
			
			.date{
				font-size: 13px;
				font-family: $fontYantramanav;
				letter-spacing: 0.1em;
				line-height: 1;
				@include tablet{
					font-size: 0.903vw;
				}//tablet
				@include sp{
					font-size: 3.2vw;
				}//sp
			}//.date
		}//.heading
		
		.body{
			p{
				font-size: 16px;
				font-family: $fontGothic;
				letter-spacing: .1em;
				line-height: 2;
				margin-bottom: 60px;
				@include tablet{
					font-size: 1.111vw;
					margin-bottom: 4.167vw;
				}//tablet
				@include sp{
					font-size: 3.467vw;
					margin-bottom: 10.667vw;
				}//sp
			}//p
			
			.full-width-image{
				margin-bottom: 60px;
				@include tablet{
					margin-bottom: 4.167vw;
				}//tablet
				@include sp{
					margin-bottom: 10.667vw;
				}//sp
				
				figure{
					img{
						width: 100%;
						height: auto;
					}//img
					
					figcaption{
						font-size: 12px;
						font-family: $fontGothic;
						letter-spacing: .1em;
						line-height: 1.8;
						margin-top: 15px;
						@include tablet{
							font-size: 0.833vw;
							margin-top: 1.042vw;
						}//tablet
						@include sp{
							font-size: 2.933vw;
							margin-top: 2.667vw;
						}//sp
					}//figcaption
				}//figure
			}//.full-width-image
			
			.half-width-image{
				margin-bottom: 60px;
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				@include tablet{
					margin-bottom: 4.167vw;
				}//tablet
				@include sp{
					margin-bottom: 10.667vw;
				}//sp
				
				figure{
					width: 400px;
					@include tablet{
						width: 27.778vw;
					}//tablet
					@include sp{
						width: 100%;
					
						&:nth-of-type(2){
							margin-top: 10.667vw;
						}//:nth-of-type(2)
					}//sp
					
					img{
						width: 100%;
						height: auto;
					}//img
					
					figcaption{
						font-size: 12px;
						font-family: $fontGothic;
						letter-spacing: .1em;
						line-height: 1.8;
						margin-top: 15px;
						@include tablet{
							font-size: 0.833vw;
							margin-top: 1.042vw;
						}//tablet
						@include sp{
							font-size: 2.933vw;
							margin-top: 2.667vw;
						}//sp
					}//figcaption
				}//figure
			}//.half-width-image
			
			.related-info{
				width: 600px;
				margin: 0 auto 60px;
				padding: 40px 60px 60px;
				background-color: #F6F6F6;
				border: 1px solid #000;
				box-sizing: border-box;
				@include tablet{
					width: 41.667vw;
					margin: 0 auto 4.167vw;
					padding: 2.778vw 4.167vw 4.167vw;
					border: 0.069vw solid #000;
				}//tablet
				@include sp{
					width: 100%;
					margin: 0 0 10.667vw;
					padding: 9.333vw;
					border-width: 0.267vw;
				}//sp
				
				h4{
					font-size: 26px;
					font-weight: 500;
					line-height: 1;
					text-align: center;
					margin-bottom: 30px;
					@include tablet{
						font-size: 1.806vw;
						margin-bottom: 2.083vw;
					}//tablet
					@include sp{
						font-size: 4.8vw;
						margin-bottom: 5.333vw;
					}//sp
				}//h4
				
				dl{
					font-family: $fontGothic;
					display: flex;
					flex-wrap: wrap;
					@include sp{
						display: block;
					}//sp
					
					dt{
						font-size: 16px;
						letter-spacing: .1em;
						margin-right: 20px;
						@include tablet{
							font-size: 1.111vw;
							margin-right: 1.389vw;
						}//tablet
						@include sp{
							font-size: 3.2vw;
							margin-right: 0;
						}//sp
					}//dt
					
					dd{
						color: #707070;
						font-size: 14px;
						letter-spacing: .1em;
						margin-bottom: 10px;
						@include tablet{
							font-size: 0.972vw;
							margin-bottom: 0.694vw;
						}//tablet
						@include sp{
							font-size: 3.2vw;
							margin-bottom: 2.667vw;
						}//sp
						
						a{
							color: #707070;
							text-decoration: underline;
							
							&:hover{
								opacity: 1;
								text-decoration: none;
							}//:hover
						}//a
					}//dd
				}//dl
			}//.related-info
		}//.body
	}//__inner
}//.p-news-contents