@charset "utf-8";

// ============================================================
//  utility/_display.scss
// ============================================================

.u-display-sp{
	display: none;
	@include sp{
		display: block;
	}//sp
}//.u-display-sp


.u-display-pc{
	display: block;
	@include sp{
		display: none;
	}//sp
}//.u-display-sp