@charset "utf-8";

// ============================================================
//  utility/_fade-in.scss
// ============================================================

.u-fadein-up{
	opacity: 0;
	transform: translateY(100px);
	transition: all 3s cubic-bezier(0, 1, 0.5, 1);
	@include tablet{
		transform: translateY(6.944vw);
	}//tablet
	@include sp{
		transform: translateY(13.333vw);
	}//sp
}//.u-fade-in