@charset "utf-8";

// ============================================================
//  layout/_footer.scss
// ============================================================

.l-footer{
	width: 100%;
    background-color: #f3f3f3;
    position: relative;
	z-index: 5;
}//.l-footer