@charset "utf-8";

// ============================================================
//  layout/_header.scss
// ============================================================

.l-header{
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 50;
}//.l-header