@charset "utf-8";

// ============================================================
//  foundation/_base.scss
// ============================================================

/*----------------------------------------
	Fonts
----------------------------------------*/
$fontGothic: 'Noto Sans JP', "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
$fontMincho: 'Noto Serif JP', '游明朝', 'Yu Mincho', YuMincho, 'Hiragino Mincho Pro', serif;
$fontYantramanav: 'Yantramanav', sans-serif;

/*----------------------------------------
	Common
----------------------------------------*/
html{
	height: 100%;
}//html

body{
	color: #333;
	font-family: $fontMincho;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
	height: 100%;
	background-color: #f3f3f3;
	overflow-x: hidden;
	position: relative;
	transition: all .3s ease;
	
	&.is_fixed{
		overflow: hidden;
	}//.is_fixed
}//body

a{
	color: #333;
	text-decoration: none;
	transition: all .3s ease;

	&:hover{
		opacity: .6;
	}//:hover
}//a

img{
	vertical-align: bottom;
}//img