@charset "utf-8";

// ============================================================
//  foundation/_reset.scss
// ============================================================

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header, hgroup, main, menu, nav, section,
time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	vertical-align:baseline;
}

header, footer, article, section, aside, hgroup, nav, menu, figure, figcaption, time {
	display:block;
}

li {
	list-style:none;
}
ol li {
	list-style:decimal;
}


img {
	border:0;
	vertical-align:top;
	font-size:0;
	line-height: 0;
}

table {
	border-collapse:collapse;
	border-spacing:0;
}

caption, th{
	text-align:left;
}

hr {
	margin:1em 0;
	padding:0;
	display:block;
	height:1px;
	border:0;
	border-top:1px solid #cccccc;
}

input, select {
	vertical-align:middle;
}

input, textarea {
	margin: 0;
	padding: 0;
}

input,
button,
select,
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: transparent;
	border: none;
	border-radius: 0;
	font: inherit;
	outline: none;
}

textarea {
	resize: vertical;
}

input[type='checkbox'],
input[type='radio'] {
	display: none;
}

input[type='submit'],
input[type='button'],
label,
button,
select {
	cursor: pointer;
}

select::-ms-expand {
	display: none;
}