@charset "utf-8";

// ============================================================
//  component/_background.scss
// ============================================================

.c-background{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 0;
	pointer-events: none;
	
	img{
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: 0 0;
	}//img
}//.c-background