@charset "utf-8";

// ============================================================
//  component/_breadcrumble.scss
// ============================================================

.c-breadcrumble{
	padding: 90px 30px 30px;
	position: relative;
	@include tablet{
		padding: 6.25vw 2.083vw 2.083vw;
	}//tablet
	@include sp{
		padding: 21.333vw 0 5.333vw 5.333vw;
	}//tablet
	
	ul{
		display: flex;
		flex-wrap: wrap;
		@include sp{
			display: block;
			white-space: nowrap;
			overflow-x: scroll;
		}//tablet
		
		li{
			color: #999;
			font-size: 12px;
			line-height: 1;
			@include tablet{
				font-size: 0.833vw;
			}//tablet
			@include sp{
				font-size: 2.933vw;
				display: inline-block;
			}//tablet
			
			&:after{
				content: "/";
				margin: 0 10px;
				@include tablet{
					margin: 0 0.694vw;
				}//tablet
				@include sp{
					margin: 0 1.333vw;
				}//tablet
			}//:after
			
			&:last-child{
				&:after{
					display: none;
				}//:after
			}//:last-child
			
			a{
				color: #999;
				
				&:hover{
					opacity: 1;
					text-decoration: underline;
				}//:hover
			}//a
		}//li
	}//ul
}//.c-breadcrumble