@charset "utf-8";

// ============================================================
//  component/_background.scss
// ============================================================

.c-loading{
	width: 100%;
	height: 100%;
	background-color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	display: none;
}//.c-background