@charset "utf-8";

// ============================================================
//  component/_page-titlescss
// ============================================================

.c-page-title{
	position: relative;
	
	&__bg{
		width: 100%;
		height: 400px;
		overflow: hidden;
		@include tablet{
			height: 27.778vw;
		}//tablet
		@include sp{
			height: 53.333vw;
		}//sp
		
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}//img
	}//__bg
	
	&__heading{
		text-align: center;
		width: 100%;
		position: absolute;
		top: 110px;
		left: 0;
		@include tablet{
			top: 7.639vw;
		}//tablet
		@include sp{
			top: 12vw;
		}//sp
		
		h2{
			color: #fff;
			font-size: 16px;
			font-weight: 500;
			letter-spacing: 0.05em;
			line-height: 1;
			margin-bottom: 15px;
			@include tablet{
				font-size: 1.111vw;
				margin-bottom: 1.042vw;
			}//tablet
			@include sp{
				font-size: 3.2vw;
				margin-bottom: 2.667vw;
			}//sp
		}//h2
		
		.en{
			color: #fff;
			font-size: 32px;
			line-height: 1;
			letter-spacing: 0.3em;
			font-family: $fontYantramanav;
			@include tablet{
				font-size: 2.222vw;
			}//tablet
			@include sp{
				font-size: 7.467vw;
			}//sp
		}//.en
	}//__heading
}//.c-page-title