@charset "UTF-8";

//-------------------------------------------
// Web Font
//-------------------------------------------

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,500,700,900&display=swap&subset=japanese');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP:300,400,500,700,900&display=swap&subset=japanese');
@import url('https://fonts.googleapis.com/css?family=Yantramanav:300,400,500,600,700,900&display=swap');

//-------------------------------------------
// Mixin
//-------------------------------------------

@import "mixin/**";

//-------------------------------------------
// foundation
//-------------------------------------------

@import "foundation/reset";
@import "foundation/base";

//-------------------------------------------
// layout
//-------------------------------------------

@import "layout/**";

//-------------------------------------------
// object
//-------------------------------------------

@import "object/**";
